* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(239, 255, 251);
}
.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}
.bordes {
  border: solid;
  border-color: darkcyan;
  border-radius: 10px;
}
.contenedorDeInicio {
  /* display: flex;
      flex-direction: column;
      align-items: center; */
  text-align: center;
  border: solid;
  border-color: darkcyan;
  border-radius: 10px;
  padding: 5vh 5vw 5vh 5vw;
  margin: 0 15vw 0 15vw;
  line-height: 30px;
}
.contenedorDeInicio p {
  padding-bottom: 8vh;
  font-size: 1.3rem;
}
.cajasJuego {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajaPreguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 30vw 5vh 30vw;
}
.preguntas {
  font-size: 1.5rem;
}
.cajaRespuestas {
  margin-top: 5vh;
}
.bordeRespuesta {
  margin-top: 3vh;
  padding: 1vh 25vw 1vh 25vw;
}
.contador {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cajaContador {
  border-radius: 50%;
  padding: 5%;
}
.puntos {
  font-size: 1.6rem;
}
.cajaBotonRespuesta {
  display: flex;
  flex-direction: column;
  padding-top: 5vh;
  width: 50vw;
}

.botonRespuesta {
  height: 5vh;
}
.cajaFinal {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: solid;
  border-color: darkcyan;
  border-radius: 10px;
  padding: 5vh 5vw 5vh 5vw;
  margin: 0 15vw 0 15vw;
  line-height: 30px;
  font-size: 1.2rem;
}
